@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    position: relative;
}

.hidden {
    height: 100%;
    min-height: 100%;
    overflow: hidden !important;
    touch-action: none;
}

.header {
    width: 100%;
    height: 80px;
    /*background-color: aqua;*/
    position: fixed;
    z-index: 3;
}

.header.activated {
    background-color: aqua;
}

.logo {
    width: 200px;
    height: 40px;
    background-image: url(../img/ienlab_logo_bk_transparent.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 20px;
    z-index: 4;
    transition: background-image 0.2s ease-in-out;
}

.logo:hover {
    background-image: url(../img/ienlab_logo_cl.png)
}

.header .header_icon {
    text-align: right;
    margin: 20px 5% 20px 20px;
}

.header .header_icon li {
    display: inline;
}

i.fab {
    color: #ffffff;
    font-size: 24px;
    margin: 10px;
    transition: transform 0.3s ease-in-out;
}

i.fab:hover {
    transform: scale(1.2, 1.2);
}

.screen {
    width: 100%;
    height: 100%;
    position: fixed;
    /*background-color: #000;*/
    z-index: 2;
    display: block;
}

.title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'GmarketSansBold', sans-serif;
    font-size: 3rem;
    color: #ffffff;
}

ul.app_group {
    display: block;
    position: absolute;
    list-style-type: none;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 15%;
}

li.app_desc {
    font-family: 'GmarketSansBold', sans-serif;
    font-size: 4rem;
    line-height: 5rem;
    color: #ffffff;
}

li.app_title {
    display: block;
    font-family: 'GmarketSansBold', sans-serif;
    font-size: 2rem;
    color: #ffffff;
}

img.app_icon {
    width: auto;
    height: 4rem;
    margin-bottom: -1.25rem;
}

img.phone {
    /*background-color: black;*/
    /*opacity: 70%;*/
    width: 25%;
    height: auto;
    position: fixed;
    bottom: -10%;
    transition: opacity 0.3s ease-in-out;
}

img.phone.one {
    right: 5%;
    z-index: 5;
}

img.phone.two {
    right: 28%;
    z-index: 3;
}

img.phone.disappear {
    opacity: 0;
}

img.screenshot {
    width: 18.41%;
    position: absolute;
    bottom: -3.3%;
}

img.screenshot.one {
    right: 8.31%;
    z-index: 6;
}

img.screenshot.two {
    right: 31.31%;
    z-index: 4;
}

.scroll_icon {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 5%;
    z-index: 3;
}

.scroll_icon li {
    list-style-type: none;
    transition: transform 0.3s ease-in-out;
}

.scroll_icon li img {
    width: 20px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out;
}

.scroll_icon li.indicator, .scroll_icon li:hover {
    transform: scale(1.5, 1.5);
}

.section {
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-image: url(../img/bg_main.png);
}

.section.one {
    background-position: center;
    background-image: url(../img/bg_main.png);
}

.section.one .overlay {
    background-color: #000000;
    background-size: cover;
    /*position: fixed;*/
    z-index: 2;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.section.two {
    background-image: url(../img/bg_bp.png);
}

.section.three {
    background-image: url(../img/bg_tn.png);
}

.section.four {
    background-image: url(../img/bg_ir.png);
}

.section.five {
    background-image: url(../img/bg_ar.png);
}

.section.six {
    background-image: url(../img/bg_sg.png);
}